<div class="container-fluid footer" >
    <div class="row">

        <div class="col-lg-4">
            <h3>VD</h3>
        </div>
        <div class="col-lg-4" style="text-align: center;">
            <a routerLink="">Home</a>
            <a routerLink="experience">Experience</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <div class="col-lg-4">
            <!-- TODO: change this to my git -->
            <a href="" style="float: right"><i class="bi bi-github"></i></a> 
        </div>

    </div>
</div>